<nav class="flex p-4 bg-stone-200">
  <h1 class="text-teal-800 text-3xl mr-4">Cute Logo Here</h1>
  <ul class="flex items-center">
    <li><a class="py-2 px-4 transition-opacity duration-150 hover:opacity-30" href="#">link 1</a></li>
    <li><a class="py-2 px-4 transition-opacity duration-150 hover:opacity-30" href="#">link 2</a></li>
    <li><a class="py-2 px-4 transition-opacity duration-150 hover:opacity-30" href="#">link 3</a></li>
  </ul>
</nav>